.HomePage {
  display: flex;
  background-color: var(--color-black-1);
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

.HomePage > h1 {
  font-size: 100px;
  color: var(--color-white);
  margin-right: 30px;
}

.hideOverflow {
  overflow: hidden;
  height: 100vh;
}

.menuItems {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .mainDiv {
    display: flex;
  }
  .HomePage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .HomePage > h1 {
    font-size: 60px;
    margin: auto;
  }
  .menuItems {
    width: 300px;
    height: 300px;
  }
}
