.MenuContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-black-1);
  overflow: hidden;
}
.MenuContainer > h1 {
  font-size: 4rem;
  margin: 2rem;
}
.MenuContainer:last-child {
  padding-bottom: 20px;
}
.FoodContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.FoodContainer > li {
  display: flex;
  width: 650px;

  border: 1px solid var(--color-white);
  color: var(--color-white);
}

.FoodContainer > li > img {
  width: 250px;
  height: 250px;
  cursor: pointer;
}
.meal-wrapper {
  display: flex;
  width: 90%;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.ingredients-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.productDetails {
  height: 100vh;
  background-color: var(--color-black-1);
}

/* cart */
.cartDiv {
  height: 100vh;
  background-color: var(--color-black-1);
  margin-top: 80px;
}
.cartImage:hover {
  cursor: default;
}
@media (max-width: 767px) {
  .FoodContainer > li {
    display: flex;
    width: 330px;
    height: 150px;
    border: 1px solid var(--color-white);
    color: var(--color-white);
  }

  .FoodContainer > li > img {
    width: 150px;
    height: 150px;
    cursor: pointer;
  }
  .ingredients-wrapper > h2 {
    font-size: 13px;
  }
  .ingredients-wrapper > button {
    width: 50px;
    height: 20px;
    font-size: 14px;
  }
  .meal-wrapper > h3 {
    font-size: 10px;
  }
  .meal-wrapper > p {
    font-size: 9px;
  }
  .meal-wrapper > p:last-child {
    margin-top: 6px;
    font-weight: bold;
  }
  .cartDiv {
    height: 100vh;
    width: 100%;
  }

  .buttonWrapper > button {
    width: 50px;
    height: 25px;
    border: 1px solid var(--color-black-1);
    font-size: 14px;
  }
}
