.MenuContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-black-1);

  overflow: hidden;
}
.MenuContainer > h1 {
  font-size: 4rem;
  margin: 2rem;
}
.MenuContainer:last-child {
  padding-bottom: 20px;
}
.FoodContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.FoodContainer > li {
  display: flex;
  width: 650px;

  border: 1px solid var(--color-white);
  color: var(--color-white);
}

.FoodContainer > li > img {
  width: 250px;
  height: 250px;
  cursor: pointer;
}
.meal-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.ingredients-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.productDetails {
  height: 100vh;
  background-color: var(--color-black-1);
}

.cartImage:hover {
  cursor: default;
}

/* cart */
.cartDiv {
  height: 100vh;
  background-color: var(--color-black-1);
}
