.menu-bar {
  background-color: var(--color-black);
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  position: fixed;
  top: 0;
  width: 100%;
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  padding: 10px 30px;
  position: relative;
}

.menu-bar ul li a,
span {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
}

.menu-bar ul li a:hover,
span:hover {
  color: var(--color-primary);
}

.dropdown-menu {
  z-index: 1;
  display: none;
  position: absolute;
  background-color: var(--color-black);
  top: 100%;
  left: 0;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}

.dropdown-menu-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}

@media (max-width: 767px) {
  /* 
  .dropdown-menu {
    top: 20px;
    left: 55px;
    width: 150px;
  }
  .dropdown-menu ul li:hover .dropdown-menu-1 {
    left: 130px;
    top: -10px;
    background-color: var(--color-black);
  } */
  .menu-bar {
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .dropdown-menu {
    top: 60px;
    left: 0;
    width: 150px;
  }
  .dropdown-menu ul li:hover .dropdown-menu-1 {
    left: 40px;
    top: 50px;
    width: 100px;
  }
}
