.menu-bar {
  background-color: var(--color-black);
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  position: fixed;
  top: 0;
  width: 100%;
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  padding: 10px 30px;
  position: relative;
}

.menu-bar ul li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
}

.menu-bar ul li a:hover {
  color: var(--color-primary);
}

.dropdown-menu {
  z-index: 1;
  display: none;
  position: absolute;
  background-color: var(--color-black);
  top: 100%;
  left: 0;
}
@media (min-width: 768px) {
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
  }

  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }

  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  .menuSpan {
    display: none;
  }
}
@media (max-width: 767px) {
  .menu-bar {
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .menuSpan {
    margin-left: 20px;
    cursor: pointer;
    color: var(--color-white);
  }

  .dropdown-menu {
    top: 60px;
    left: 0;
    width: 150px;
  }

  .menu-bar ul li:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menuSpan.active {
    color: var(--color-primary);
  }

  .menuSpan.active + .dropdown-menu {
    display: block;
  }

  .menuSpan.active + .dropdown-menu ul {
    display: block;
    margin: 10px;
  }

  .menuSpan.active + .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
}
